@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --blue: #2c7dfa;
  --blue-shade: #3685ff;
  --dark-navy: #1f314f;
  --gray: #7d889e;
  --light-gray: #d5e1ef;
}

body {
  background-color: var(--light-gray);
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.card {
  max-width: 20rem;
  box-sizing: border-box;
  margin: auto;
  background-color: #fff;
  box-shadow: 0rem 1.5625rem 1.5625rem rgba(0, 0, 0, 0.0476518);
  border-radius: 1.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* QR Code */

.qrCodeArea {
  max-width: 18rem;
  aspect-ratio: 1/1;
  background: var(--blue);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.qrCode {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.circle {
  position: absolute;
  border-radius: 100%;
  background-color: var(--blue-shade);
  z-index: 1;
}

.circleTop {
  width: 20.5rem;
  height: 20.5rem;
  left: -8.75rem;
  top: -10.25rem;
}

.circleBottom {
  width: 16.875rem;
  height: 16.875rem;
  left: 8.75rem;
  top: 10.25rem;
}

/* Typography */

h1,
p {
  font-family: "Outfit";
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--dark-navy);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  text-align: center;
  letter-spacing: 0.0117rem;
  color: var(--gray);
}
.cardContent {
  padding: 0rem 0.5rem;
}

/* Attribution */

.attribution {
  font-family: "Outfit";
  left: 0;
  right: 0;
  font-size: 0.6875rem;
  text-align: center;
  position: absolute;
  bottom: 0.5rem;
}
.attribution a {
  color: var(--blue);
}
